@{    
    Layout = MVC.Views.Shared._LayoutNoNavigation;
    ViewData["Title"] = Texts.Forms.Membership.ForgotPassword.FormTitle;
    ViewData["BodyClass"] = "login-page";
}


@section Head {

    <link rel="stylesheet" href="~/Template/lib/jquery-ui/jquery-ui.css">

}






<div class="panel signin">
    <div class="panel-heading">
        <h1>Quirk</h1>
        <h2 class="panel-title">Please enter the e-mail you used to signup.</h2>
    </div>
    <div class="panel-body">

        <div class="or">&nbsp;</div>
        @using (Html.BeginForm())
            {

            @Html.AntiForgeryToken()
            <span style="color:red">
                @Html.ValidationSummary(true)
            </span>



                    <div class="form-group mb10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                            <input class="form-control" placeholder="Enter Email" name="Email" type="email" required>
                        </div>
                       
                    </div>
                    <div class="form-group">
                        <button type="submit" value="ForgotPassword" class="btn btn-success btn-quirk btn-block">Reset</button>

                    </div>
        }
        <hr class="invisible">
        <div class="form-group">
            <a href="@Url.Content(@ViewBag.LoginUrl)" class="btn btn-default btn-quirk btn-stroke btn-stroke-thin btn-block btn-sign">Sign in</a>
        </div>
    </div>

</div><!-- panel -->


@section Scripts {

    @*<script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@



}











