@model CustomerSupport.Modules.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutNoNavigationNew</title>
</head>
<body>
    <div> 
        @RenderSection("Head")

        @RenderBody()

        @RenderSection("Scripts")
    </div>
</body>
</html>
