
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.BusinessObjects.TicketProcess.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new CustomerSupport.BusinessObjects.TicketProcessGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>